<div :if={assigns[:error]}>
  <%= @error %>
</div>
<.form :let={f} for={%{}} action="/auth/login">
  <div class="space-y-5 bg-white max-w-2xl mx-auto p-6">
    <.input field={f[:email]} placeholder="Email" class="text-red-600 bg-gray-400" />
    <.input
      type="password"
      field={f[:password]}
      placeholder="Password"
      class="text-gray-600 bg-gray-400"
    />

    <.button class="mt-4">
      Login
    </.button>
  </div>
</.form>
